:root {
    --main-bg-color: #000;
    --main-text-color: #FFF;
    --table-dark-text: #000;
    --set-name-border-color: #FFF;
    --external-link: rgb(31, 169, 255);
    --set-checkbox-text-color: rgba(250, 180, 50, 0.8);
    --checkbox-bg: rgba(255, 255, 255, 0.2);
    --checkbox-reverted-bg: rgba(255, 255, 255, 0.3);
    --checkbox-hover-bg: rgba(250, 180, 50, 1);
    --checkbox-text-color: #FFF;
    --checkmark-color: lime;
    --right-box-bg: rgba(255, 255, 255, 0.7);
    --right-box-text-color: #000;
    --right-box-border: 1px solid white;
    --set-box-border: 1px solid rgba(0, 150, 255, 1);
    --art-img-hover-bg: rgba(250, 0, 0, 0.5);
    --art-img-hover-border: 1px solid red;
    --set-box-hover-bg: rgba(0, 100, 255, 0.4);
    --info-title-decoration: 1px dashed #FFF;
    --version-border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    --btn-filter-activated: rgba(0, 155, 0, 0.5);
    --btn-reset-filter: rgba(155, 0, 0, 0.5);
    --green-check: rgba(0, 255, 0, 0.45);
    --green-check-hover: 1px solid lime;
    --red-check: rgba(255, 0, 0, 0.45);
    --red-check-hover: 1px solid red;
    --dark-low-transparency: rgba(0, 0, 0, 0.85);
    --transparent: rgba(0, 0, 0, 0);
    --limegreen-text: limegreen;
}

body {
    background-color: var(--main-bg-color) !important;
    min-width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

#bg {
    z-index: -1;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
}

.arrow {
    transition: 0.2s ease all;
    margin: -10px auto 0;
    border: 2px solid var(--set-name-border-color);
    background-color: var(--main-bg-color);
}

.full-height {
    transition: all 0.2s ease;
    max-height: 85vh !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}

.white-text {
    color: var(--main-text-color);
}

.black-text {
    color: var(--table-dark-text) !important;
}

.limegreen-text {
    color: var(--limegreen-text) !important;
}

.bolded {
    font-weight: bolder !important;
}

.bordered {
    border-top: 1px solid var(--set-name-border-color);
    border-bottom: 1px solid var(--set-name-border-color);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    z-index: 1500;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.child {
    padding-top: 0.25em;
}

label {
    margin-bottom: 0 !important;
}

.screenstats {
    background-color: var(--dark-low-transparency) !important;
    color: var(--main-text-color);
    max-height: 175px;
    overflow-y: scroll;
    text-align: center;
    transition: all 0.2s ease;
}

.screenshot {
    max-height: 450px;
    max-width: 100%;
    transition: all 0.2s ease;
}

a, a:link, a:visited, a:hover, a:active {
    transition: all 0.2s ease;
    color: var(--main-text-color) !important;
}

a.efd, a.efd:link, a.efd:visited, a.efd:hover, a.efd:active {
    color: var(--external-link) !important;
    /* text-underline: #000 !important; */
}

/* a.efd[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;;
    background: var(--main-text-color);
} */

.text-color {
    color: var(--main-text-color);
}

.text-color:hover {
    background-color: var(--set-checkbox-text-color);
    cursor: pointer;
}

/* .left-box {
    background-color: var(--main-bg-color);
} */

.right-box {
    transition: all 0.2s ease;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 80vh;
    background-color: var(--right-box-bg);
    color: var(--right-box-text-color);
    border: var(--right-box-border);
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.set-border {
    transition: all 0.2s ease;
    margin: 0.25em 0 0.25em 0;
    border-radius: 5px;
    border: var(--set-box-border);
}

.art-image {
    transition: all 0.2s ease;
    max-width: 30px;
    max-height: 30px;
    position: relative;
    bottom: 0;
    margin: 0.25em 0 0.5em 0;
}

.art-image:hover {
    cursor: pointer;
    border: var(--art-img-hover-border);
    border-radius: 5px;
    background-color: var(--art-img-hover-bg);
}

.set-title {
    transition: all 0.2s ease;
    position: relative;
    bottom: 0;
    margin: 0.25em 0 0.5em 0;
}

.set-title:hover {
    cursor: pointer;
    border: var(--art-img-hover-border);
    border-radius: 5px;
    background-color: var(--art-img-hover-bg);
}

.hovered:hover {
    background-color: var(--set-box-hover-bg);
}

.personnal-checkbox {
    transition: all 0.2s ease;
    margin-top: 0.25em;
    background-color: var(--checkbox-bg);
    cursor: pointer !important;
    height: 1.6em;
    border-radius: 5px;
}

.personnal-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.underlined {
    border-bottom: var(--info-title-decoration);
    cursor: help;
}

.personnal-checkbox.radio-btn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--checkbox-bg) !important;
    color: var(--main-text-color);
    transition: all 0.2s ease;
}

.personnal-checkbox.radio-btn:hover {
    background-color: var(--checkbox-hover-bg) !important;
}

.personnal-checkbox.set-filter-button {
    background-color: var(--checkbox-reverted-bg) !important;
    border-radius: 5px;
    height: auto;
    padding: 2px;
    width: 100% !important;
}

.personnal-checkbox.solution {
    width: 100% !important;
}

label.personnal-checkbox {
    transition: all 0.2s ease;
    margin-top: 0.25em;
    background-color: var(--checkbox-bg);
    cursor: pointer;
    height: 1.6em;
    border-radius: 5px;
}

input[type="radio"] {
    position: absolute;
    display: none;
    cursor: pointer;
}

input[type="radio"]:checked + label.green-check {
    background-color: var(--green-check) !important;
    border: var(--green-check-hover);
}

input[type="radio"]:checked + label.red-check {
    background-color: var(--red-check) !important;
    border: var(--red-check-hover);
}

/* input[type="radio"]:checked + label.green-check.filter-modal {
    color: black; 
} */

.big {
    font-size: 125%;
}

.version-underline {
    border-bottom: var(--version-border-bottom);
}

.logo {
    transition: all 0.2s ease;
    max-height: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 5px;
    background: var(--main-text-color);
    padding: 1px;
}

.logo:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.table td, .table th {
    padding: .2rem !important;
}

.not-connected {
    border-radius: 5px;
    position: fixed !important;
    top: 0;
    right: 0;
    /* margin-top: 5em; */
    width: 25%;
}

.alert-danger {
    border-radius: 5px;
}

.btn-success {
    background-color: var(--btn-filter-activated) !important;
}

.btn-success:hover {
    color: var(--main-text-color) !important;
}

.btn-danger {
    background-color: var(--btn-reset-filter) !important;
}

.btn-danger:hover {
    color: var(--main-text-color) !important;
}

tr.result-background {
    background-color: var(--checkbox-bg);
    color: var(--checkbox-text-color);
}

table.personnal-table {
    border-radius: 5px;
}

.btn-link {
    border-top: 1px dashed var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
    border-radius: 5px;
}

.btn-link:hover {
    transition: all 0.3s ease;
}

.info-btn {
    vertical-align: middle;
    height: 35px;
    width: 35px;
    border-radius: 100px !important;
}

iframe {
    pointer-events: none;
}

/*********************
Keeping this code for checkmark on inputs in case re-enabling later

input:checked+.personnal-checkbox {
background-color: lime !important;
}

.personnal-checkbox input:hover ~ .checkmark {
background-color: var(--checkbox-hover-bg);
}

.personnal-checkbox input:checked ~ .checkmark:after {
display: block;
}

.personnal-checkbox input:checked ~ .checkmark {
background-color: #2196F3;
}

.personnal-checkbox .checkmark {
position: relative;
top: 6px;
left: -10px;
height: 25px;
width: 23px;
background-color: var(--checkmark-color);
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.checkmark:after {
left: 13px;
top: 4px;
width: 5px;
height: 15px;
border: solid var(--checkmark-color);
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background-color: #FFF;
}

******************************/