:root {
    --main-bg-color: #000;
    --main-text-color: #FFF;
    --set-name-border-color: #FFF;
    --external-link: lightskyblue;
    --set-checkbox-text-color: rgba(250, 0, 0, 0.5);
    --checkbox-bg: rgba(255, 255, 255, 0.2);
    --checkbox-hover-bg: rgba(250, 180, 50, 1);
    --checkbox-text-color: #FFF;
    --checkmark-color: lime;
    --right-box-bg: rgba(255, 255, 255, 0.7);
    --right-box-text-color: #000;
    --right-box-border: 1px solid white;
    --set-box-border: 1px solid rgba(0, 150, 255, 1);
    --art-img-hover-bg: rgba(250, 0, 0, 0.5);
    --art-img-hover-border: 1px solid red;
    --set-box-hover-bg: rgba(0, 100, 255, 0.4);
    --info-title-decoration: 1px dashed #FFF;
    --version-border-bottom: 1px solid rgba(0, 0, 0, 0.8)
}


body {
    background-color: var(--main-bg-color) !important;
    min-width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

.hidden {
    display: none;
}

.white-text {
    color: var(--main-text-color);
}

.bolded {
    font-weight: bolder !important;
}

.bordered {
    border-top: 1px solid var(--set-name-border-color);
    border-bottom: 1px solid var(--set-name-border-color);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    z-index: 1500;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.child {
    padding-top: 0.25em;
}

label {
    margin-bottom: 0 !important;
}

.screenstats {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    max-height: 180px;
    overflow-y: scroll;
    text-align: center;
    transition: all 0.2s ease;
}

.screenshot {
    max-height: 450px;
    max-width: 100%;
    transition: all 0.2s ease;
}

a, a:link, a:visited, a:hover, a:active {
    transition: all 0.2s ease;
    color: var(--main-text-color) !important;
}

a.efd, a.efd:link, a.efd:visited, a.efd:hover, a.efd:active {
    color: var(--external-link) !important;
    text-underline: #000 !important;
}

a[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

.text-color {
    color: var(--main-text-color);
}

.text-color:hover {
    background-color: var(--set-checkbox-text-color);
    cursor: pointer;
}

.left-box {
    background-color: var(--main-bg-color);
}

.right-box {
    transition: all 0.2s ease;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 550px;
    margin-top: 5em;
    /*background-color: rgba(250, 180, 50, 1);*/
    background-color: var(--right-box-bg);
    color: var(--right-box-text-color);
    border: var(--right-box-border);
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.set-border {
    transition: all 0.2s ease;
    margin: 0.25em 0 0.25em 0;
    border-radius: 5px;
    border: var(--set-box-border);
}

.art-image {
    transition: all 0.2s ease;
    max-width: 30px;
    max-height: 30px;
    position: relative;
    bottom: 0;
    margin: 0.25em 0 0.5em 0;
}

.art-image:hover {
    cursor: pointer;
    border: var(--art-img-hover-border);
    border-radius: 5px;
    background-color: var(--art-img-hover-bg);
}

.hovered:hover {
    background-color: var(--set-box-hover-bg);
}

.personnal-checkbox {
    transition: all 0.2s ease;
    margin-top: 0.25em;
    background-color: var(--checkbox-bg);
    /*background-color: #000;*/
    cursor: pointer;
    width: 2em;
    height: 1.6em;
    border-radius: 5px;
}

.personnal-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/*.personnal-checkbox input:hover ~ .checkmark {*/
    /*background-color: var(--checkbox-hover-bg);*/
/*}*/

.personnal-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/*.personnal-checkbox input:checked ~ .checkmark {*/
    /*background-color: #2196F3;*/
/*}*/

.personnal-checkbox .checkmark {
    position: relative;
    top: 6px;
    left: -10px;
    height: 25px;
    width: 23px;
    /*background-color: var(--checkmark-color);*/
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark:after {
    left: 13px;
    top: 4px;
    width: 5px;
    height: 15px;
    border: solid var(--checkmark-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.full-height {
    transition: all 0.2s ease;
    max-height: 95vh;
    height: calc(100vh - 85px);
}

.underlined {
    border-bottom: var(--info-title-decoration);
    cursor: help;
}

.personnal-checkbox.radio-btn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--checkbox-bg) !important;
    color: var(--main-text-color) !important;
    transition: all 0.2s ease;
}

.personnal-checkbox.radio-btn:hover {
    background-color: var(--checkbox-hover-bg) !important;
}

.big {
    font-size: 125%;
}

.version-underline {
    border-bottom: var(--version-border-bottom);
}